@mixin responsive($breakpoint) {
  @if $breakpoint==mobile {
    @media (max-width: 392px) {
      @content;
    }
  }
}
.platform {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  width: 1460px;

  &__left {
    position: relative;
    margin-top: 107px;
    margin-left: 177px;
    &--title {
      font-size: 4rem;
      font-weight: 900;
      line-height: 1.4;
      letter-spacing: 0.1rem;
      margin-bottom: 4rem;
      width: 550px;
    }
    &--parag {
      &--1,
      &--2,
      &--3,
      &--4 {
        margin: 2rem 0;
        font-size: 2.4rem;
        line-height: 1.4;
        width: 590px;
      }
    }
    &--more--button {
      margin-bottom: 103px;
      button {
        border: none;
        text-align: center;
        background-color: #ffdea3;
        color: #fff;
        width: 16.8rem;
        height: 4.9rem;
        border-radius: 1.2rem;
        font-weight: 800;
        cursor: pointer;
      }
    }
    &--img--1 {
      position: absolute;
      height: 4.4rem;
      width: 4.4rem;
      transform: rotate(15deg);
      right: -16%;
      bottom: 100px;
      @include responsive(mobile) {
        right: 40px;
      }
    }
    &--img--2 {
      position: absolute;
      height: 4.4rem;
      width: 4.4rem;
      left: -18%;
      top: 30%;
      transform: rotate(15deg);
    }
  }
  &__right {
    position: relative;
    &--img--1 {
      position: absolute;
      height: 261px;
      width: 435px;
      top: 104px;
      right: 190px;
    }
    &--img--2 {
      position: absolute;
      height: 286px;
      width: 421px;
      top: 370px;
      right: 80px;
    }
    &--img--3 {
      position: absolute;
      height: 384px;
      width: 408px;
      top: 218px;
      right: 70px;
    }
    &--img--4 {
      position: absolute;
      height: 4.2rem;
      width: 4.2rem;
      right: 91px;
      top: 50px;
      transform: rotate(20deg);
    }
    &--img--5 {
      position: absolute;
      height: 4.2rem;
      width: 4.2rem;
      bottom: 50px;
      right: 190px;
      transform: rotate(20deg);
    }
    &--img--6 {
      z-index: 200;
      position: absolute;
      height: 14.2rem;
      width: 14.2rem;
      top: 260px;
      right: 52px;
    }
    &--img--7 {
      position: absolute;
      height: 4.2rem;
      width: 4.2rem;
      top: 330px;
      left: 45px;
      @include responsive(mobile) {
        left: 2px;
      }
    }
    &--button {
      position: absolute;
      text-align: center;
      display: flex;
      background-color: #fff;
      height: 4rem;
      width: 18rem;
      border-radius: 1.1rem;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      top: 623px;
      right: 258px;
      cursor: pointer;
      img {
        height: 90%;
        padding-left: 1rem;
        padding-top: 0.2rem;
      }
      p {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 900;
        padding-top: 1.1rem;
        padding-left: 1rem;
      }
    }
  }
}
.platform__modal {
  margin-left: -12rem;
}
