@mixin responsive($breakpoint) {
  @if $breakpoint==mobile {
    @media (max-width: 392px) {
      @content;
    }
  }
  @if $breakpoint==desktop {
    @media (min-width: 1400px) {
      @content;
    }
  }
  @if $breakpoint==big {
    @media (max-width: 1260px) {
      @content;
    }
  }
  @if $breakpoint==sakkiz {
    @media (max-width: 800px) {
      @content;
    }
  }
}
.questions__box {
  width: 100%;
  margin: 0 auto;
  @include responsive(desktop) {
    width: 1460px;
  }
  @include responsive(big) {
    width: 90%;
  }

  @include responsive(mobile) {
    width: 100%;
    height: auto;
  }
}
.questions {
  display: grid;
  width: 965px;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  height: auto;
  padding: 5rem 0;
  margin-bottom: 5rem;
  @include responsive(big) {
    width: 90%;
  }
  @include responsive(mobile) {
    width: 100%;
    padding: 2rem 0;
    margin-bottom: 1.3rem;
  }
  &__subject {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: a60px;
    color: #191919;
    margin: 0 auto;
    margin-bottom: 30px;
    @include responsive(big) {
      font-size: 2.4rem;
    }
    @include responsive(sakkiz) {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    @include responsive(mobile) {
      display: block;
      margin: 0 auto;
      font-weight: 700;
      font-size: 10px;
      line-height: 18px;
      margin-bottom: 5px;
    }
  }
}
.question {
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.0001);
  padding-bottom: 30px;
  border-bottom: 1px solid #3a3a3a;
  @include responsive(big) {
    margin-top: 2rem;
  }
  @include responsive(sakkiz) {
    margin-top: 1rem;
  }
  @include responsive(mobile) {
    width: 70%;
    display: block;
    margin: 2rem auto;
    padding-bottom: 0px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  &__subject {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    text-align: start;
    letter-spacing: -1px;
    color: #191919;
    @include responsive(big) {
      font-size: 2.4rem;
    }
    @include responsive(sakkiz) {
      font-size: 2rem;
    }
    @include responsive(mobile) {
      font-weight: 500;
      font-size: 11px;
      line-height: 20px;
      width: 92%;
    }
  }
  &__btn {
    border: transparent;
    height: 40px;
    width: 40px;
    background-color: transparent;
    @include responsive(sakkiz) {
      width: 25px;
      height: 25px;
    }
    @include responsive(mobile) {
      width: 5px;
      height: 5px;
      margin-top: 6rem;
      position: absolute;
      right: 2rem;
      bottom: 2.5rem;
    }
    svg {
      @include responsive(sakkiz) {
        width: 18px;
        height: 18px;
      }
    }
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: start;
    color: #5d5d5d;
    width: 75rem;
    @include responsive(big) {
      font-size: 1.6rem;
      width: 80%;
    }
    @include responsive(sakkiz) {
      font-size: 1.4rem;
    }
    @include responsive(mobile) {
      font-weight: 400;
      font-size: 8px;
      line-height: 12px;
      width: 232px;
    }
  }
}
