@mixin responsive($breakpoint) {
  @if $breakpoint==mobile {
    @media (max-width: 392px) {
      @content;
    }
  }
  @if $breakpoint==desktop {
    @media (min-width: 1400px) {
      @content;
    }
  }
  @if $breakpoint==big {
    @media (max-width: 1260px) {
      @content;
    }
  }
}
.suggestions__box {
  width: 1349px;
  margin: 0 auto;
  @include responsive(desktop) {
    width: 1460px;
  }
  @include responsive(big) {
    width: 100%;
  }
  @include responsive(mobile) {
    width: 393px;
    height: auto;
  }
}
.suggestions {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
  height: auto;
  padding: 5rem 0;
  padding-bottom: 8rem;
  @include responsive(mobile) {
    padding-bottom: 1rem;
  }
  &-top {
    width: 100%;
    margin: 0 auto;
    &__list {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    &__btn {
      padding: 0 20px;
      border: transparent;
      background-color: transparent;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 45px;
      color: #191919;
      cursor: pointer;
      &--active {
        background: #dddddd;
        border-radius: 0.5rem;
      }
      @include responsive(big) {
        font-size: 18px;
      }
      @include responsive(mobile) {
        font-size: 19px;
        padding: 0 10px;
      }
    }
  }
  &-middle {
    margin: 0 auto;
    margin-top: 5rem;
    &__list {
      display: grid;
      list-style-type: none;
      grid-template-columns: repeat(3, 1fr);
      @include responsive(big) {
        grid-template-columns: repeat(1, 1fr);
      }
      @include responsive(mobile) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &-card {
      &__img {
        display: block;
        margin: 0 auto;
        border-radius: 1.4rem;
        width: 386px;
        height: 318px;
        @include responsive(big) {
          width: 90%;
          height: 220px;
        }
        @include responsive(mobile) {
          width: 243px;
          height: 183px;
        }
      }
      &__subject {
        margin-top: 2.9rem;
        font-weight: 400;
        font-size: 25.0046px;
        color: #e04776;
        text-align: left;
        padding-left: 3rem;
        @include responsive(big) {
          font-size: 16px;
        }
        @include responsive(mobile) {
          width: 293px;
          text-align: left;
          display: block;
          margin: 1rem auto;
          margin-bottom: 1rem;
          font-size: 16px;
          padding-left: 2rem;
        }
      }
      &__text {
        margin-top: 6px;
        font-weight: 900;
        font-size: 22.0046px;
        line-height: 1.4;
        color: #191919;
        letter-spacing: 0.1rem;
        text-align: left;
        padding-left: 3rem;
        @include responsive(big) {
          font-size: 13px;
        }
        @include responsive(mobile) {
          width: 323px;
          text-align: left;
          display: block;
          margin: 0 auto;
          margin-bottom: 3rem;
          font-size: 14px;
          line-height: 21px;
          padding-left: 4rem;
        }
      }
    }
  }
}
