.suggestions {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
  height: auto;
  padding: 5rem 0;
  padding-bottom: 8rem;
  &-top {
    width: 100%;
    margin: 0 auto;
    &__list {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    &__btn {
      padding: 0 20px;
      border: transparent;
      background-color: transparent;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 45px;
      color: #191919;
      cursor: pointer;
      &--active {
        background: #dddddd;
        border-radius: 0.5rem;
      }
    }
  }
  &-middle {
    margin: 0 auto;
    margin-top: 5rem;
    width: 100%;
    &__list {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
    }
    &-card {
      &__img {
        border-radius: 1.4rem;
        width: 90%;
      }
      &__subject {
        padding: 0 1rem;
        margin-top: 2rem;
        font-weight: 400;
        font-size: 25.0046px;
        color: #e04776;
      }
      &__text {
        padding: 1rem;
        font-weight: 900;
        font-size: 22.0046px;
        line-height: 1.4;
        color: #191919;
        letter-spacing: 0.1rem;
      }
    }
  }
}
