@mixin responsive($breakpoint) {
  @if $breakpoint==big {
    @media (min-width: 1300px) {
      @content;
    }
  }
  @if $breakpoint==desktop {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint==planshet {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint==mobile {
    @media (max-width: 450px) {
      @content;
    }
  }
  @if $breakpoint==small {
    @media (max-width: 350px) {
      @content;
    }
  }
}

.directions {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: auto;
  position: relative;
  width: 100%;
  margin: 0 auto;
  @include responsive(desktop) {
    width: 100%;
  }
  @include responsive(tablet) {
    height: 60rem;
  }
  @include responsive(planshet) {
    height: 69rem;
  }

  @include responsive(mobile) {
    height: 52rem;
  }
  background-color: #11172a;
  &-top {
    display: flex;
    width: 69%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 7rem;
    padding: 0;
    @include responsive(tablet) {
      width: 90%;
      margin-top: 3rem;
    }
    @include responsive(mobile) {
      width: 90%;
      margin-top: 3rem;
    }
    &__subject {
      font-weight: 700;
      font-size: 40px;
      color: #ffffff;
      @include responsive(desktop) {
        font-size: 24px;
      }
      @include responsive(mobile) {
        font-size: 14px;
        width: 100%;
      }
    }
    &__text {
      width: 85%;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      display: flex;
      align-items: flex-end;
      text-align: center;
      color: #ffffff;
      margin: 2rem 5px;
      margin-bottom: 2rem;
      @include responsive(desktop) {
        font-size: 18px;
      }
      @include responsive(mobile) {
        font-size: 11px;
        margin-bottom: 2rem;
        line-height: 16px;
        text-align: left;
      }
    }
  }
  &-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    &__list {
      padding: 0;
      display: flex;
      list-style-type: none;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 96%;
      @include responsive(desktop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
      }
      @include responsive(tablet) {
        display: none;
      }
      @include responsive(planshet) {
        display: none;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
      }
      @include responsive(mobile) {
        display: none;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
      }
    }
    &__item {
      position: relative;
      width: 23%;
      border-radius: 1rem;
      background-image: url("../../Assets/images/bg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: drop-shadow(-21.8px -31.1px 38.8px rgba(0, 7, 5, 0.2));
      margin: 0 auto;
      margin-bottom: 5rem;
      @include responsive(desktop) {
        width: 95%;
        height: 32rem;
      }
      @include responsive(tablet) {
        width: 90%;
      }
      @include responsive(mobile) {
        width: 75%;
        height: 25rem;
        margin-bottom: 2rem;
      }
    }
    &__card {
      margin-top: 3.2rem;
      margin-left: 2.8rem;
      width: 260px;
      height: 326px;
      @include responsive(desktop) {
        width: 100%;
      }
    }
    &-card {
      &__box {
        border-radius: 50%;
        width: 6em;
        height: 6em;
        text-align: center;
        padding-top: 1.2rem;
        @include responsive(mobile) {
          width: 31px;
          height: 31px;
        }

        &--1 {
          background-color: #fbd289;
          img {
            width: 4.5rem;
            height: 4.5rem;
            margin-top: -0.5rem;
            @include responsive(tablet) {
              margin-left: 0.7rem;
            }
            @include responsive(mobile) {
              width: 25px;
              height: 25px;
              margin-top: -0.8rem;
            }
          }
        }
        &--2 {
          background-color: #a66dff;
          img {
            margin-top: -0.7rem;
            width: 5rem;
            height: 5rem;
            @include responsive(tablet) {
              margin-left: 0.6rem;
            }
            @include responsive(mobile) {
              width: 25px;
              height: 25px;
              margin-top: -0.8rem;
            }
          }
        }
        &--3 {
          background-color: #ff6c8f;
          img {
            margin-top: -0.1rem;
            @include responsive(tablet) {
              margin-left: 0.8rem;
            }
            @include responsive(mobile) {
              width: 25px;
              height: 25px;
              margin-top: -0.8rem;
            }
          }
        }
        &--4 {
          background-color: #00cc82;
          img {
            margin-top: -0.1rem;
            @include responsive(tablet) {
              margin-left: 1.1rem;
            }
            @include responsive(mobile) {
              width: 22px;
              height: 22px;
              margin-top: -0.8rem;
            }
          }
        }
        &--5 {
          background-color: #27aaf0;
          img {
            margin-top: -0.1rem;
            @include responsive(tablet) {
              margin-left: 0.9rem;
            }
            @include responsive(mobile) {
              width: 20px;
              height: 20px;
              margin-top: -0.5rem;
            }
          }
        }
        &--6 {
          background-color: #ff6b4e;
          img {
            margin-top: -0.5rem;
            @include responsive(tablet) {
              margin-left: 0.9rem;
            }
            @include responsive(mobile) {
              width: 20px;
              height: 20px;
              margin-top: -0.8rem;
            }
          }
        }
        &--7 {
          background-color: #a66dff;
          img {
            margin-top: -0.2rem;
            @include responsive(tablet) {
              margin-left: 1rem;
            }
            @include responsive(mobile) {
              width: 20px;
              height: 25px;
              margin-top: -0.8rem;
            }
          }
        }
        &--8 {
          background-color: #fbd289;
          img {
            margin-top: -0.5rem;
            @include responsive(tablet) {
              margin-left: 0.9rem;
            }
            @include responsive(mobile) {
              width: 22px;
              height: 22px;
              margin-top: -0.8rem;
            }
          }
        }
      }
      &__subject {
        font-style: normal;
        font-weight: 700;
        font-size: 22.2559px;
        line-height: 33px;
        display: flex;
        align-items: flex-end;
        color: #fff;
        margin-bottom: 5px;
        margin-top: 1rem;
        @include responsive(desktop) {
          font-size: 16px;
        }
        @include responsive(mobile) {
          font-size: 14px;
        }
      }
      &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        color: #ffffff;
        margin-bottom: 10px;
        width: 86%;
        @include responsive(desktop) {
          font-size: 13px;
          width: 70%;
          margin-bottom: 1rem;
        }
        @include responsive(mobile) {
          font-size: 7px;
          line-height: 10px;
          margin-bottom: 1rem;
        }
      }
      &__btn {
        position: absolute;
        bottom: -1.6rem;
        left: 2.4rem;
        padding: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 14.3051px;
        line-height: 21px;
        color: #ffffff;
        background: #a66dff;
        margin-bottom: 3rem;
        border: transparent;
        border-radius: 1.2rem;
        cursor: pointer;
        @include responsive(mobile) {
          border-radius: 0.5rem;
        }
        &-span {
          margin-left: 5px;
        }
        &--1 {
          background-color: #fbd289;
        }
        &--2 {
          background-color: #a66dff;
        }
        &--3 {
          background-color: #ff6c8f;
        }
        &--4 {
          background-color: #00cc82;
        }
        &--5 {
          background-color: #27aaf0;
        }
        &--6 {
          background-color: #ff6b4e;
        }
        &--7 {
          background-color: #a66dff;
        }
        &--8 {
          background-color: #fbd289;
        }
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    @include responsive(mobile) {
      margin-top: -3rem;
    }
    &__btn {
      cursor: pointer;
      padding: 0;
      margin: 4rem 0;
      width: 25%;
      height: 5%;
      background-color: #fbd289;
      border: none;
      padding: 1.4rem;
      font-size: 1.6rem;
      font-weight: 900;
      width: 20rem;
      color: #fff;
      border-radius: 1rem;
      @include responsive(tablet) {
        display: none;
      }
      @include responsive(mobile) {
        width: 130px;
        height: 35px;
        font-size: 1.1rem;
        padding: 0.7rem;
      }
    }
  }
}
.directions-middle-card__img {
  width: 4rem;
  height: 4rem;
  text-align: center;
}
.slider {
  display: none;
  width: 95vw;
  @include responsive(tablet) {
    display: block;
    margin: 0 auto;
  }
}
.bolim__slider {
  display: none;
  width: 90vw;
  @include responsive(tablet) {
    display: none;
  }
  @include responsive(mobile) {
    display: block;
    margin: 0 auto;
    width: 80vw;
  }
}
.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 10px;
}
