@mixin responsive($breakpoint) {
  @if $breakpoint==mobile {
    @media (max-width: 392px) {
      @content;
    }
  }
}
.card__box {
  width: 1460px;
  margin: 0 auto;
  @include responsive(mobile) {
    width: 352px;
  }
}
.card {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  background-color: #11172a;
  height: 365px;
  color: #fff;
  border-radius: 3rem;
  width: 1200px;
  margin: 4rem auto;
  box-shadow: -10.9px -15.6px 68px rgba(0, 7, 5, 0.3);
  margin-top: 86px;
  justify-content: center;
  @include responsive(mobile) {
    margin: 0 auto;
    width: 1190px;
  }
  &__left {
    padding: 3rem;
    padding-left: 124px;
    padding-top: 40px;
    &--title {
      font-size: 35px;
      margin-bottom: 7px;
    }
    &--parag {
      width: 642px;
      line-height: 37px;
      font-size: 25px;
      font-weight: 300;
    }
    &--author {
      font-size: 2.5rem;
      font-weight: 400;
      margin-top: 2.2rem;
    }
  }
  &__right {
    img {
      height: 398px;
      width: 398px;
      margin-left: 18px;
      margin-top: -3rem;
    }
  }
}
