.advice {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding-bottom: 4rem;
  &__left {
    position: relative;
    padding: 0 6rem;
    &--title {
      margin-top: 3rem;
      font-size: 2.2rem;
      line-height: 1.3;
      letter-spacing: 0.1rem;
    }
    &--parag {
      &--1,
      &--2,
      &--3,
      &--4 {
        margin: 2rem 0;
        font-size: 1.9rem;
        line-height: 1.4;
      }
    }
    &--button {
      button {
        border: none;
        text-align: center;
        background-color: #a66dff;
        color: #fff;
        width: 20rem;
        height: 5rem;
        border-radius: 0.5rem;
        font-weight: 800;
        cursor: pointer;
        outline: none;
      }
    }
    &--img--1 {
      position: absolute;
      height: 3.5rem;
      left: 1%;
      top: 17%;
      transform: rotate(15deg);
    }
    &--img--2 {
      position: absolute;
      height: 3.5rem;
      right: 1%;
      top: 35%;
      transform: rotate(15deg);
    }
  }
  &__right {
    position: relative;
    &--img {
      position: absolute;
      height: 60%;
      width: 53%;
      top: 8%;
      right: 6%;
    }
    &--card {
      opacity: 1;
      right: 25%;
      position: absolute;
      bottom: 25%;
      width: 24rem;
      height: 9rem;
      display: grid;
      background-color: #fff;
      grid-template-columns: repeat(2, 1fr);
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      border-radius: 0.8rem;
      &--left {
        padding: 0.3rem;
        padding-left: 1.2rem;
        padding-top: 1.4rem;
        &--title {
          font-size: 1.2rem;
          font-weight: 900;
          color: black;
        }
        &--number {
          font-size: 2.5rem;
          font-weight: 800;
        }
        &--description {
          margin-top: 0.3rem;
          font-size: 1.3rem;
        }
      }
      &--right {
        padding-top: 2.9rem;
        &--number {
          font-size: 2.5rem;
          font-weight: 800;
        }
        &--description {
          margin-top: 0.3rem;
          font-size: 1.3rem;
        }
      }
      &--img--1 {
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
        bottom: 12%;
        right: 5%;
      }
      &--img--2 {
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
        bottom: 12%;
        right: 60%;
      }
    }
    &--img--1 {
      position: absolute;
      height: 15.5rem;
      right: -5%;
      top: -2%;
      transform: rotate(15deg);
      z-index: -222;
    }
    &--img--2 {
      position: absolute;
      height: 4rem;
      right: 40%;
      bottom: 3%;
      transform: rotate(15deg);
      z-index: -222;
    }
  }
}
.hide__parag {
  display: block;
  margin: 1rem auto;
  width: 100%;
  margin-left: 30rem;
  p {
    margin: 2rem 0;
    font-size: 1.9rem;
    line-height: 1.4;
  }
}
