@mixin responsive($breakpoint) {
  @if $breakpoint==mobile {
    @media (max-width: 392px) {
      @content;
    }
  }
}
.advice__box {
  width: 1460px;
  margin: 0 auto;
  @include responsive(mobile) {
    width: 392px;
  }
}
.advice {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  width: 1139px;
  margin: 0 auto;
  @include responsive(mobile) {
    flex-direction: column;
  }
  &__left {
    position: relative;
    padding-left: 4.2rem;

    &--title {
      width: 642px;
      margin-top: 64px;
      font-size: 35px;
      line-height: 52px;
      letter-spacing: 0.1rem;
      @include responsive(mobile) {
        display: block;
        margin: 3rem auto;
      }
    }
    &--parag {
      &--1,
      &--2,
      &--3,
      &--4 {
        width: 602px;
        margin: 2rem 0;
        font-size: 25px;
        line-height: 37px;
        @include responsive(mobile) {
          display: block;
          margin: 3rem auto;
        }
      }
    }
    &--button {
      @include responsive(mobile) {
        display: block;
        margin: 3rem auto;
      }
      button {
        margin-top: 3rem;
        border: none;
        text-align: center;
        background-color: #a66dff;
        color: #fff;
        width: 173px;
        height: 48px;
        border-radius: 1.2rem;
        font-weight: 800;
        cursor: pointer;
        outline: none;
        @include responsive(mobile) {
          display: block;
          margin: 3rem auto;
          width: 79px;
          height: 22px;
          border-radius: 0.4rem;
          font-size: 0.7rem;
        }
      }
    }
    &--img--1 {
      position: absolute;
      height: 62px;
      width: 62px;
      right: -40px;
      top: 180px;
      transform: rotate(15deg);
      @include responsive(mobile) {
        top: 80px;
        right: 5rem;
      }
    }
    &--img--2 {
      position: absolute;
      height: 57px;
      width: 57px;
      right: 540px;
      top: 300px;
      transform: rotate(15deg);
      @include responsive(mobile) {
        top: 480px;
        left: 200px;
      }
    }
  }
  &__right {
    position: relative;
    &--img {
      margin-top: 139px;
      width: 469px;
      height: 471px;
      left: 862px;
      @include responsive(mobile) {
        display: block;
        margin: 0 auto;
        margin-top: 39px;
        width: 288px;
        height: 289px;
      }
    }
    &--card {
      opacity: 1;
      right: 140px;
      position: absolute;
      top: 550px;
      width: 366px;
      height: 166px;
      display: grid;
      background-color: #fff;
      grid-template-columns: repeat(2, 1fr);
      box-shadow: -7.5px -10.6px 32.9px rgba(0, 7, 5, 0.15);
      border-radius: 0.8rem;
      @include responsive(mobile) {
        top: 300px;
        right: 600px;
        width: 147px;
        height: 54px;
      }
      &--left {
        padding-left: 28px;
        padding-top: 1.8rem;
        @include responsive(mobile) {
          padding-top: 1rem;
          padding-left: 15px;
        }
        &--title {
          font-size: 1.5rem;
          font-weight: 700;
          color: black;
          @include responsive(mobile) {
            font-size: 6px;
          }
        }
        &--number {
          font-size: 3.9rem;
          font-weight: 700;
          margin-top: 1px;
          @include responsive(mobile) {
            font-size: 16px;
            margin-top: 0;
          }
        }
        &--description {
          margin-top: 0.1rem;
          font-size: 1.4rem;
          @include responsive(mobile) {
            font-size: 6px;
            margin: 0;
          }
        }
      }
      &--right {
        padding-top: 4.6rem;
        @include responsive(mobile) {
          padding: 1.8rem;
        }
        &--number {
          font-size: 3.9rem;
          font-weight: 800;
          @include responsive(mobile) {
            font-size: 16px;
          }
        }
        &--description {
          margin-top: 0.1rem;
          font-size: 1.4rem;
          @include responsive(mobile) {
            font-size: 6px;
          }
        }
      }
      &--img--1 {
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
        bottom: 12%;
        right: 5%;
        @include responsive(mobile) {
          height: 1rem;
          width: 1rem;
        }
      }
      &--img--2 {
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
        bottom: 12%;
        right: 60%;
        @include responsive(mobile) {
          height: 1rem;
          width: 1rem;
        }
      }
    }
    &--img--1 {
      position: absolute;
      height: 179px;
      width: 170px;
      left: 370px;
      top: 60px;
      transform: rotate(15deg);
      z-index: -222;
      @include responsive(mobile) {
        height: 122px;
        width: 125px;
        left: 64rem;
        top: -20px;
      }
    }
    &--img--2 {
      position: absolute;
      height: 6.4rem;
      width: 6.4rem;
      right: 250px;
      bottom: 94px;
      transform: rotate(15deg);
      z-index: -222;
      @include responsive(mobile) {
        display: none;
      }
    }
  }
}
.hide__parag {
  display: block;
  margin: 1rem auto;
  width: 100%;
  margin-left: 30rem;
  p {
    margin: 2rem 0;
    font-size: 1.9rem;
    line-height: 1.4;
  }
}
